/* html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .full-height {
    height: 100vh;
  } */

  * {
     font-family: 'Nunito Sans', Helvetica, Arial, Lucida, sans-serif;
     transition: all 0.2s ease-in-out !important;
     
  }

  
  /* .fixScrollBarProblem {
    overflow-y: scroll !important; 
} */

/* *, *::before, *::after {
    box-sizing: border-box !important;
} */


  
